@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Jetbrains Mono', sans-serif;
    background-image: url(../media/old.png);
    
}

.p{
  margin-left: 1rem;
}

.navbar{
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.8rem;
  color: rgba(203, 166, 247, 0.9);
  background-color: rgba(203, 166, 247, 0.8);
  animation: cardEntrance 400ms ease-out;
  animation-fill-mode: backwards;
  margin: 0.5rem;
}

.navbar:hover {
  box-shadow: #353535;
  background-color: rgba(203, 166, 247, 0.9);
}

.grid-container {
  padding-top: 2.5rem;
  height: auto;
  margin: 1rem;
  display: grid;
  gap: 1rem;


  grid-template-areas:
    'a a b c'
    'a a b c'
    'a a L L'
    'd d L L'
    'd d L L';
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: auto auto auto auto;

}

.wrapper-form{
  text-align: center;
}

 /* animations*/ 
 @keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(0.8);
    filter: hue-rotate(0deg);
  }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background: #353535;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-0.5rem) scale(1.05);
    background-color: rgba(180, 190, 254, 0.9);
 }


.card {
  background-color: rgba(180, 190, 254, 0.8);
  animation: cardEntrance 500ms ease-out;
  animation-fill-mode: backwards;
}

.card:nth-child(1) {
  grid-area: a;
  animation-delay: 100ms;
}
.card:nth-child(2) {
  grid-area: b;
  animation-delay: 200ms;
}
.card:nth-child(3) {
  grid-area: c;
  animation-delay: 300ms;
}
.card:nth-child(4) {
  grid-area: d;
  animation-delay: 400ms;
}

.card:last-child {
  grid-area: L;
  animation-delay: 500ms;
}

.myself{
  filter: grayscale(100%);
  background-color: aquamarine;
  overflow: hidden;
  border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}

.myself:hover{
  filter: none;
}
