---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact">
  <main class="main container">
    <h1>Contact Us</h1>
    <a href="/index.html">Home</a><br><br>
    <img src="/media/contact.jpg" alt="typewriter">
    <img src="/media/phone.jpg" alt="cell">
  </main>

  <script is:inline slot="script" src="/js/contact/index.js"></script>
</Layout>


<style>
  h1 {
    color: blueviolet;
  }
</style>
