<header class="header container">
    <a href="../dist/index.html" class="brand"></a>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">staaronf.com</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../dist/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/staaronf">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/aaron-stevens-560009257">LinkedIn</a>
              </li>
              <li class="nav-item dropdown btn-group dropend">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  My Other Pages
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" style="opacity: 0.8;" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="./products/single-products.html" target="_blank">Single Products Page</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="../../dist/about/index.html" target="_blank">About Us Page</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="../../dist/contact/index.html" target="_blank">Contact Us Page</a></li>
                <!--  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" target="_blank"></a></li> -->
                  
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
              </li>
            </ul>
    
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

  <div class="container">
    <h2 class="mode-status">Currently in Light Mode</h2>
    <label class="toggle-switch">
      <input type="checkbox" id="mode-toggle">
      <span class="slider"></span>
    </label>
  </div>
  
  </header>
  