@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

body {
    background: rgb(174, 160, 247);
    color: #fff;
    font-family: 'Jetbrains Mono', sans-serif;
    /* background-image: url(../media/old.png); */
    
}

.p{
  margin-left: 1rem;
}

.navbar{
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.8rem;
  color: rgba(203, 166, 247, 0.9);
  background-color: rgba(203, 166, 247, 0.8);
  animation: cardEntrance 400ms ease-out;
  animation-fill-mode: backwards;
  margin: 0.5rem;
}

.navbar:hover {
  box-shadow: #353535;
  background-color: rgba(203, 166, 247, 0.9);
}



.grid-container {
  padding-top: 2.5rem;
  height: auto;
  margin: 1rem;
  display: grid;
  gap: 1rem;


  grid-template-areas:
    'a a b c'
    'a a b c'
    'a a L L'
    'd d L L';
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: auto auto auto auto;

}

.wrapper-form{
  text-align: center;
}

 /* animations*/ 
 @keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(0.8);
    filter: hue-rotate(0deg);
  }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background: #353535;
    font-size: 0.9rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-0.5rem) scale(1.05);
    background-color: rgba(180, 190, 254, 0.9);
 }


.card {
  background-color: rgba(180, 190, 254, 0.8);
  animation: cardEntrance 500ms ease-out;
  animation-fill-mode: backwards;
}

.card:nth-child(1) {
  grid-area: a;
  animation-delay: 100ms;
}
.card:nth-child(2) {
  grid-area: b;
  animation-delay: 200ms;
}
.card:nth-child(3) {
  grid-area: c;
  animation-delay: 300ms;
}
.card:nth-child(4) {
  grid-area: d;
  animation-delay: 400ms;
}

.card:last-child {
  grid-area: L;
  animation-delay: 500ms;
}

.myself{
  filter: grayscale(100%);
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}

.myself:hover{
  filter: none;
}

/*DarkLight Toggle*/
.dark-mode {
  background-color: rgb(57, 48, 113);
  color: rgb(255, 255, 255);
  transition: all 0.4s ease-in;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}

projects{            
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .image-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            padding: 20px;
        }

        .image-box {
            text-align: center;
            margin: 10px;
        }

        .image-box img {
            max-width: 100%;
            height: auto;
        }

        .text-section {
            margin-top: 10px;
        }

        /*Age Calculator*/
        *, *::before, *::after {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
        
        
        body {
          /*font-family: Arial, sans-serif;
            background-color: #f2f2f2;*/
        }
        
        
        .calc-container {
          margin: 3.13rem auto;
          max-width: 31.25rem;
          background-color: #fff;
          padding: 1.25rem;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
        
        
        h1 {
          text-align: center;
          margin-bottom: 1.9rem;
        }
        
        
        form {
          display: flex;
          flex-direction: column;
        }
        
        
        label {
          margin-bottom: 0.63rem;
          font-weight: bold;
        }
        
        
        small {
          font-style: italic;
          font-size: 0.75rem;
        }
        
        
        input {
          padding: 0.63rem;
          margin-bottom: 1.25rem;
          margin-top: 1.25rem;
          border-radius: 5px;
          border: 2px solid #9898ab;
        }
        
        
        .button-group {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 0.9rem;
        }
        
        
        button {
          color: white;
          border: none;
          border: 2px solid #1781c9;
          border-radius: 5px;
          padding: 0.63rem;
          cursor: pointer;
        }
        
        
        .submit {
          background-color: #1781c9;
        }
        
        
        .reset {
          background-color: white;
          color: #1781c9;
        }
        
        
        .submit:hover {
          background-color: #1774b3;
          border-color: #1774b3;
        }
        
        
        .reset:hover {
          border-color: #1774b3;
          color: #1774b3;
        }
        
        
        #age {
          text-align: center;
          font-size: 1.5rem;
          margin-top: 1.25rem;
        }